[submodule "website/themes/paper"]
	path = website/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "website/public"]
	path = website/public
	url = https://github.com/The-CCC/the-ccc.github.io
